#container{
}

@media (min-width: 601px) {
    #content-container{
        display: grid;
        grid-template-columns: 65% 1fr;

        width: 95%;

        margin-left: auto;
        margin-right: auto;

        border: 1px solid black;
        border-bottom: none;
        border-radius: 5px;
    }
}

@media (max-width: 600px){
    #content-container{
        display: flex;
        flex-direction: column;
    }    
}






