#container{
}



#content-container{
    display: grid;
    grid-template-columns: 65% 1fr;

    width: 95%;
    min-height: 85vh;
    height: fit-content;


    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 5px;

    overflow: hidden;

}






