#container{
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 95%;
    height: 8vh;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;

    border: 1px solid black;
    border-radius: 5px;

    overflow: hidden;
}

#navbar img{
    width: 35%;
    max-width: 35%;
}

#navbar div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 65%;
}

#navbar div h4{
    font-size: medium;
    font-family: sans-serif;
}

#content-container{
    display: grid;
    grid-template-columns: 70% 1fr;

    width: 95%;
    min-height: 85vh;
    height: fit-content;


    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 5px;

    overflow: hidden;

}

#slideshow{
    width: 99%;
    height: 40vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;

    border: 1px solid black;
}

#latest-statements{
    grid-column: 1;

    width: 99%;
    min-height: 50%;
    height: fit-content;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
}

#infocus-container{
    width: 97%;
    height: 45vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;

    border: 1px solid black;
}

#twitter-container{
    width: 97%;
    height: 35vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    border: 1px solid black;

}
